user www-data;
worker_processes auto;

worker_rlimit_nofile 51200;

events {

  use epoll;
  worker_connections 51200;
  multi_accept on;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    server_names_hash_bucket_size   128;

    client_header_buffer_size   32k;

    large_client_header_buffers 4 32k;
    log_format access '$remote_addr - $remote_user [$time_local] "$request" '
            '$status $body_bytes_sent "$http_referer" '
            '"$http_user_agent" "$http_x_forwarded_for"';
    access_log  /var/log/nginx/access.log   access;
    sendfile    on;
    tcp_nopush  on;
    tcp_nodelay on;
    keepalive_timeout   65;
    server_tokens   off;
    client_body_buffer_size 1024k;

    proxy_connect_timeout   150s;
    proxy_send_timeout      150s;
    proxy_read_timeout      150s;

    proxy_buffer_size       512k;
    proxy_buffers           64 64k;
    proxy_busy_buffers_size 2048k;
    proxy_temp_file_write_size 2048k;


    gzip    on;
    gzip_min_length 1k;
    gzip_buffers 4 16k;
    gzip_http_version 1.1;
    gzip_comp_level 2;
    gzip_types text/plain application/x-javascript text/css application/xml application/glb;
    gzip_vary   on;

    client_header_timeout 120s;
    client_body_timeout 120s;

    client_max_body_size 1000M;

    upstream local {
        server turingcloud-gateway;
        keepalive 300;
    }
    upstream ms {
        server turingcloud-gateway:9999;
        keepalive 300;
    }

    server {
        listen 80;
        server_name _;
        root  /usr/share/nginx/html;
        access_log /var/log/nginx/tsl.iot.store_access.log access;
        error_log /var/log/nginx/tsl.iot.store_error.log;
        index  index.html index.htm;



        location /swagger {
            rewrite  ^/swagger/?(.*)$ /$1 break;
            proxy_pass http://ms;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_connect_timeout 1500s; //连接超时时间 1500秒是不是太长了？ 15秒不够吗？

            proxy_send_timeout 1500s;
            proxy_read_timeout 1500s;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /tmc/ {
            proxy_pass http://local/;
            proxy_next_upstream http_502 http_504 error timeout invalid_header;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP   $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /zkturing/ {
            proxy_pass http://local/;

            proxy_next_upstream http_502 http_504 error timeout invalid_header;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP   $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /preview {
            proxy_pass http://turingcloud-kkfileview:8012;
            proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }


        error_page   500 502 503 504  /50x.html;
          location = /50x.html {
          root   /usr/share/nginx/html;
        }


        location ~* ^/(code|auth|admin|device|video|daily|monitor|test|job|visual|light|safety|dataanalysis|data|act|ground) {
            proxy_pass http://ms;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_connect_timeout 1500s;
            proxy_send_timeout 1500s;
            proxy_read_timeout 1500s;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            if ($request_uri ~* "\.(glb|gltf)$") {
               expires 1d;
               add_header Cache-Control public;
            }
        }

#        location ^~/ly-bigscreen {
#            alias /usr/share/nginx/bigscreen/ly;
#            try_files $uri $uri/ /index.html;
#            index  index.html index.htm;
#        }
#
        location ^~/test-bigscreen {
            alias /usr/share/nginx/bigscreen/test;
            try_files $uri $uri/ /index.html;
            index  index.html index.htm;
        }

        location ^~/wuruan-bigscreen {
            alias /usr/share/nginx/bigscreen/wuruan;
            try_files $uri $uri/ /index.html;
            index  index.html index.htm;
        }

        location ~* ^/(tongheng) {
            proxy_pass http://61.136.180.57:83;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_connect_timeout 1500s;
            proxy_send_timeout 1500s;
            proxy_read_timeout 1500s;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location ~* ^/(jichang) {
            add_header Access-Control-Allow-Origin *;
            #蒙牛
#           proxy_pass http://221.199.14.100:9780;
            #贡嘎
#          proxy_pass http://219.151.43.125:9780;
            #测试线
            resolver 223.5.5.5  valid=10s;
            set $proxy_url "ls.iot.store";
            proxy_pass https://$proxy_url:9781;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_connect_timeout 1500s;
            proxy_send_timeout 1500s;
            proxy_read_timeout 1500s;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            rewrite ^/jichang/(.*)$ /$1 break;
            # 开启log日志
            access_log  /var/log/nginx/jichang.log  access;
        }

                location ~ /ISAPI|SDK/ {
                    if ($http_cookie ~ "webVideoCtrlProxy=(.+)") {
                        proxy_pass http://$cookie_webVideoCtrlProxy;
                        break;
                    }
                }
                location ^~ /webSocketVideoCtrlProxy {
                    #web socket
                    proxy_http_version 1.1;
                    proxy_set_header Upgrade $http_upgrade;
                    proxy_set_header Connection "upgrade";
                    proxy_set_header Host $host;
                    proxy_set_header X-real-ip $remote_addr;
                    proxy_set_header X-Forwarded-For $remote_addr;

                    if ($http_cookie ~ "webVideoCtrlProxyWs=(.+)") {
                        proxy_pass http://$cookie_webVideoCtrlProxyWs/$cookie_webVideoCtrlProxyWsChannel?$args;
                        break;
                    }
                    if ($http_cookie ~ "webVideoCtrlProxyWss=(.+)") {
                        proxy_pass http://$cookie_webVideoCtrlProxyWss/$cookie_webVideoCtrlProxyWsChannel?$args;
                        break;
                    }
                }


    }

}